
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <!-- CSS stylesheets and other head elements here -->
    <link rel="stylesheet" href="{% static 'css/doctors.css' %}">
    {% tailwind_css %}
</head>
<body>
    <div class="container">
      <div class="sidebar">
        <h1>Doctor Dashboard</h1>
        <div class="profile">
          <img src="#" alt="doctor">
          <p>{{request.user}} | Doctor</p>
        </div>
        <!-- Add any additional header elements or navigation here -->
        <ul>
          <li class="flex">
            <svg class="ml-10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ffffff;"><path d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM5 20V7h14V6l.002 14H5z"></path><path d="M7 9h10v2H7zm0 4h5v2H7z"></path></svg>
            <a href="#">Overview</a>
          </li>  <!-- Display key statistics and notifications here -->
          <li><a href="#">Blood Inventory</a></li> <!-- Display current stock, alerts, and request options -->
          <li><a href="#">Donor Management</a></li>  <!-- Display donor information, search, and filtering options -->
          <li><a href="#">Patient Management</a></li>  <!-- Display patient information and status updates -->
          <li><a href="#">Appointment Scheduling</a></li> <!-- Display calendar view and scheduling options -->
        </ul>
        <div class="additional">
          <button class="btn">Settings</button>
          <button class="btn"><a href="{% url 'logout' %}">Logout</a></button>
        </div>
    </div>
    <div class="content">
      <div class="bg-red-800">
        <p>heudhgd</p>
      </div>
      <h1>Some content goes here</h1>
      <div class="container">
        <h1 class="text-red-600">Hello there</h1>
      </div>  
      <footer class="footer">
        <ul class="flex">
          <li>About</li>
          <li>FAQs</li>
          <li>Privacy</li>
        </ul>
        <div class="">
            <p>&copy; 2024 Made with love by kevo. All rights reserved.</p>
        </div>
      </footer>
    </div>
    </div>


    <!-- JavaScript files and other scripts here -->

</body>
</html>
