{% extends "doctors_base.html" %}

{% block title %} Donors List {% endblock title %}

{% block content %}
    <div class="container mx-auto p-5 md:p-10">
        <div class="title">
            <h1 class="text-2xl font-bold">Blood Inventory</h1>
        </div>

        <div class="content mt-5 md:mt-10">
        {% if inventories %}        
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rounded text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                #
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Donor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Blood Group
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Expiry Date
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for inventory in inventories %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                               {{ forloop.counter }}
                            </th>
                            <td class="px-6 py-4">
                                {{inventory.donor}}
                            </td>
                            <td class="px-6 py-4">
                                {{inventory.blood_group}}
                            </td>
                            <td class="px-6 py-4">
                                {{inventory.quantity}}
                            </td>
                            <td class="px-6 py-4">
                                {{inventory.expiry_date}}
                            </td>
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="p-4 mb-4 text-sm text-blue-800 text-center rounded-lg bg-blue-100 dark:bg-gray-800 dark:text-blue-400" role="alert">
                <span class="font-medium">No Blood Inventory Available</span>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}
