{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock styles %}

{% block title %}
  SignUp
{% endblock title %}

{% block content %}
<div class="mt-20 text-center mb-4 bg-cyan-50 w-1/2 mx-auto">
    {% if messages %}
      {% for message in messages %}
        <ul class="error_list">
            <li>{{message}}</li>
        </ul>
      {% endfor %}
    {% endif %}
      
  </div>

    <form action="#" method="post" class="shadow-[0_3px_10px_rgb(0,0,0,0.2)] mt-20 mb-20">
        <h1 class="text-center font-bold text-2xl underline mb-3">Register here</h1>
        {% csrf_token %}
        {{register_form.as_p}}

        <p class="mb-3">Have an account, <a class="text-cyan-500" href="{% url 'login' %}">Login</a></p>

        <div class="submit">
            <input type="submit" value="Register">
        </div>

    </form>
{% endblock content %}